@media (min-width: 700px){
	@font-face{
		font-family: Cicle Gordita;
		src: url('Cicle Gordita.ttf');
	}
	body{
		font-family: Cicle Gordita;
		font-size: 20px;
		color: #3F3E40;
	}
	a{
		color: #3F3E40;
	}
	.main{
		height: 100%;
		width: 100%;
		background-color: #FFE05B;
		border-radius: 60px;
		box-shadow: 0 0 1em #3F3E40;
		z-index: 2;
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
	}
	header{
		padding-top: 2%;
		padding-bottom: 0%;
		text-align: center;
		font-size: 6vmax;
	}
	h1{
		text-align: center;
		font-size: 6vmax;
		margin-top: 0%;
		font-weight: normal;
	}
	.name{
		background-color: #FFF;
		width: 100%;
		min-height: 35%;
		max-height: 70%;
		margin-top: 10px;
		text-align: center;
		font-size: 6vmax;
		padding-top: 30px;;
	}
	.name p{
		font-size: 3vmax;
		margin-top: 30px;
	}
	.back{
		height: 100%;
		width: 100%;
		font-size: 2vmax;
		background-color: #FFE05B;
		border-radius: 60px;
		box-shadow: 0 0 1em #3F3E40;
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
		-o-transform: rotateY(-180deg);
	}
	.skills{
		margin-top: 3%;
		float: right;
		width: 100%;
		height: 10%;
	}
	.tools{
		margin-left: 5%;
		width: 35%;
		float: left;
	}
	.favorites{
		margin-left: 5%;
		width: 35%;
		float: left;
	}
	ul{
		margin-top: 5px;
	}
	.me{
		margin-left: 0%;
		margin-right: 0%;
		margin-top: 5%;
		float: left;
		text-align: center;
		font-size: 0.5em;
		width: 25%;
		height: 25%;
	}
	.me img{
		max-height: 100%;
		max-width: 100%;
		border-radius: 128px
	}
	.about{
		word-wrap: normal;
		margin-top: 5%;
		margin-left: 5%;
		float: left;
		max-width: 70%;
		max-height: 10%
	}
	.contact{
		width: 10%;
		float: left;
		margin-left: 5%;
	}
	.contact img{
		margin-top: 5%;
		max-height: 70%;
		max-width: 70%;
	}
	.card{
		margin: auto;
  		position: absolute;
  		top: 0; left: 0; bottom: 0; right: 0;
		max-width: 75%;
		max-height: 80%;
		-webkit-transition: all 1s ease-in-out;
		-webkit-perspective: 1000;
		-webkit-transform-style: preserve-3d;
		-moz-transition: all 1s ease-in-out;
		-moz-perspective: 1000;
		-moz-transform-style: preserve-3d;
		-o-transition: all 1s ease-in-out;
		-o-perspective: 1000;
		-o-transform-style: preserve-3d;
	}
	.flip{
		transform-style: preserve-3d;
		-webkit-transition: all 1s ease-in-out;
		-webkit-transform-style: preserve-3d;
		-webkit-transform: rotateY(180deg);
		-moz-transition: all 1s ease-in-out;
		-moz-transform-style: preserve-3d;
		-moz-transform: rotateY(180deg);
	}
	.main, .back{
		position: absolute;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.clickMe{
		text-align: center;
		font-size: 4vmax;
		margin: auto;
  		position: absolute;
  		left: 0; right: 0; bottom: 15;
  		height: 5%;
	}
}
@media (min-width: 700px) and (max-width: 1000px){
	header, h1{
		font-size: 8vmax;
	}
	.name{
		font-size: 8vmax;
	}
	.name p{
		font-size: 4vmax;
	}
	.back{
		font-size: 2.5vmax;
	}
	.skills{
		margin-top: 3%;
	}
	.me img{
		max-height: 80%;
		max-width: 80%;
	}
	.contact img{
		max-width: 90%;
		max-height: 90%;
	}
	.contact{
		margin-right: 0%;
		margin-left: 2.5%;
	}
	.favorites{
		margin-right: 0%;
	}
}